<div class="content" role="main">
    <card title="<CustomDropdown/>">
<!--        TODO uncomment component usage after component is implented-->
<!--        <custom-dropdown-->
<!--                id="dinner"-->
<!--                [items]="dinnerItems"-->
<!--                (change)="handleInputChange($event)"-->
<!--        >-->
<!--        </custom-dropdown>-->
        <custom-dropdown></custom-dropdown>
    </card>

    <card title="App's onChange(event)">
        <pre><code>{{getChangeValue()}}</code></pre>
    </card>
</div>

<router-outlet></router-outlet>
