<div class="content" role="main">
    <card title="<CustomDropdown/>">
        <custom-dropdown id="dinner" [items]="dinnerItems"></custom-dropdown>
    </card>

    <card title="App's onChange(event)">
        XDXDXD
    </card>
</div>

<!--<div class="App">-->
<!--    <card title="`<code><CustomDropdown/></code>`">-->
<!--                <custom-dropdown id="dinner" items={dinnerItems} onChange={onChange}/>-->
<!--        first-->
<!--    </card>-->

<!--    <card title="`<code>'onChange(event)'</code>`">-->
<!--        <code>-->
<!--                    <pre>-->
<!--                        {{getChangeValue()}}-->
<!--                    </pre>-->
<!--        </code>-->
<!--    </card>-->
<!--</div>-->

<router-outlet></router-outlet>
